$lightblue: #25acdf;
$article-bg: #004470;
$filter: rgba(0, 68, 112, 0.4);
$range-bg: #003456;
$peach: #f4cf7b;
$document-slider-text: #484848;

$breakpoints: (
  'mobile': ('(max-width: 767px)'),
);